/*variable for the colors*/
:root{
    --general: #021740;
    --pinky: #9E91B7;
    --button: #F2CEF2;
}

/*...then let's reset the default styles*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  @media screen and (max-width: 450px) {
    .biographie h1 {
      font-size: 4em;
    }
  }
/*voir plus*/
.more{
  position: relative;
}
.more span{
  margin-left: 0;
  transition: all .35s ease-in-out;
}
.more:hover span{
  margin-left: 10px;
}
.more::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 21%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: all .35s ease-in-out;
}
.more:hover::after{
  width: 24%;
}
/*animation on scroll*/
.scroll{
  transform: translateX(-50%);
  filter: blur(5px);
  transition: .7s all;
}
.appear{
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
}

@media(perfers-reduced-motion){
  .scroll{
    transition: none;
  }
}